.button {
  font-weight: var(--font-medium);
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  padding: 4px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
  font-size: 15px;
  transition: var(--transition);
  cursor: pointer;
}

.button i {
  font-size: 30px;
}

.button {
  background-color: var(--gray-1);
  border-color: var(--gray-5);
  color: var(--gray-5);
}

.button:hover {
  background-color: var(--gray-0);
  border-color: var(--gray-7);
  color: var(--gray-7);
}
