:root {
  /* COLORS */
  /* - THEME */
  --theme-fill: rgb(0, 90, 220);
  --theme-border: rgb(0, 65, 160);

  /* - GRAYS */
  --gray-0: rgb(255, 255, 255);
  --gray-1: rgb(245, 245, 245);
  --gray-2: rgb(230, 230, 230);
  --gray-3: rgb(210, 210, 210);
  --gray-4: rgb(180, 180, 180);
  --gray-5: rgb(120, 120, 120);
  --gray-6: rgb(80, 80, 80);
  --gray-7: rgb(0, 0, 0);

  /* - DISH TYPES */
  --dish-vegan: rgb(65, 180, 71);
  --dish-fish: rgb(0, 150, 255);
  --dish-meat: rgb(160, 75, 0);

  /* BOX SHADOW */
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  /* BORDER RADIUS */
  --border-radius: 7px;

  /* Font Weights */
  --font-regular: 500;
  --font-medium: 600;
  --font-bold: 700;

  /* Ratios */
  --visual-square: 9/8; /* Visual Square */

  /* Transition */
  --transition: all 200ms ease-in-out;

  /* MEDIA QUERIES */
  --mobile: 900px; /* If lower than this apply mobile styles */
  --tv: 3000px; /* If higher than this apply TV styles */
}

theme-light {
  display: inherit;
}

theme-dark {
  display: none;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS */
    /* - THEME */
    --theme-fill: rgb(50, 150, 255);
    --theme-border: rgb(0, 102, 255);

    /* - GRAYS */
    --gray-0: rgb(35, 35, 35);
    --gray-1: rgb(20, 20, 20);
    --gray-2: rgb(45, 45, 45);
    --gray-3: rgb(65, 65, 65);
    --gray-4: rgb(80, 80, 80);
    --gray-5: rgb(120, 120, 120);
    --gray-6: rgb(150, 150, 150);
    --gray-7: rgb(200, 200, 200);

    /* - DISH TYPES */
    --dish-vegan: rgb(60, 220, 70);
    --dish-fish: rgb(0, 195, 255);
    --dish-meat: rgb(220, 120, 0);
  }

  theme-light {
    display: none;
  }

  theme-dark {
    display: inherit;
  }
}
